<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KompresjaFraktalna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KompresjaFraktalna.Compression" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KompresjaFraktalna.Properties.Settings>
            <setting name="Epsilon" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="Dmax" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BigDelta" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="SmallDelta" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="EpsilonHij" serializeAs="String">
                <value>16</value>
            </setting>
        </KompresjaFraktalna.Properties.Settings>
    </userSettings>
</configuration>